.comment{
    width: 50%;
    background-color: rgb(224, 220, 220);
    padding-left: 20px;
}
.post{
    background-color: rgb(247, 228, 205);
    padding: 20px
}

.commentButton{
    margin-top: 10px;
}